@charset "utf-8";
/* CSS Document */
#inner #left {
	float: left;
	width: 388px;
}
#inner a{
	text-decoration: none;
	color:#707176;
}
#inner #left #score {
	float: left;
	height: 115px;
	width: 388px;
	margin-top: 47px;
}
#inner #left #score #your_score {
	float: left;
	height: 26px;
	width: 130px;
	display:block;
}
#inner #left #score #score_numbers {
	float: left;
	height: 65px;
	width: 310px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 50px;
	clear: both;
}
#inner #right {
	float: left;
	width: 533px;
}
#inner #right a {
		font-weight: bold;
}
#inner #right #copy {
	margin-left: 15px;
}

#inner #right #hint1 {
	float: left;
	margin-top: 10px;
}

#inner #right #hint2 { 
	float: left;
	margin-top: 10px;
}

#inner #right input {
	width: auto;
	color: none;
	border: 0px;
	/*color: #acbfc7;*/
	/*background-color: #acbfc7;*/
	background-color:none;
}
#inner #right #copy #buttons {
	width: 467px;
	margin-top: 10px;
	float: left;
}
#inner #right #previous {
	margin-left: 15px;
}
#inner #right #previous #title {
	float: left;
	height: 36px;
	width: 193px;
}
#inner #right #previous #text {
	clear: left;
	float: left;
	width: 480px;
	margin-bottom: 25px;
	margin-top: 10px;
}
#inner #right #previous #submit_answer {
	float: left;
	clear: both;
}
.right {
	background-color: #E0B455;
}
.wrong {
	background-color: #F0E2B3;
}
.not {
	background-color: #FFFEFF;
}
.today {
	//background-color: #FFF;
	border: 2px double red;
}
